---
interface Props {
  title: string;
  body: string;
  type: 'regular' | 'highlighted';
  image: string;
}

const { title, body } = Astro.props;
---

<div class="card">
  <h2>
    {title}
    <span>&rarr;</span>
  </h2>
  <p>
    {body}
  </p>
</div>
