<div class="logos">
  <!-- TODO: https://dfinity.atlassian.net/browse/GIX-2302 Add link to VC -->
  <a class="logos__logo" href="https://internetcomputer.org/docs/current/developer-docs/identity/verifiable-credentials/overview" rel="noopener noreferrer" aria-label="More Info About Verifiable Credentials" target="_blank">
    <img
      class="logos__image"
      src="/vc-logo.webp"
      alt="Vertifiable credentials logo"
    />
  </a>
  <div class="logos__divider"></div>
  <a class="logos__logo" href="https://internetcomputer.org/" rel="noopener noreferrer" aria-label="More Info About Internet Computer" target="_blank">
    <img
      class="logos__image"
      src="/ii-logo.webp"
      alt="Internet Identity logo"
    />
  </a>
</div>
