<div class="logos">
  <div class="logos__logo">
    <img
      class="logos__image"
      src="/vc-logo.webp"
      alt="Vertifiable credentials logo"
    />
  </div>
  <div class="logos__logo">
    <img
      class="logos__image"
      src="/ii-logo.webp"
      alt="Internet Identity logo"
    />
  </div>
</div>
