---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
<style is:global>
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  :root {
    /** value design tokens (to use in other vairables) */
    /** vc: value color */
    --vc-snow: #ffffff;
    --vc-raven: #202126;
    --vc-eggplant: #1c0b5a;
    --vc-grape: #542eea;
    --vc-mika: #863af1;
    --vc-rosewater: #ede8fa;
    --vc-chrome: #e5e5e5;
    
    --vg-lovepotion: linear-gradient(90deg, var(--vc-grape), var(--vc-mika));
    --vg-lovepotion--repeating: linear-gradient(90deg, var(--vc-grape), var(--vc-mika), var(--vc-grape));
    
    /** reference tokens (use these in actual CSS) */
    /** rc: reference color */
    --rc-background: var(--vc-snow);
    --rc-onBackground: var(--vc-raven);
    
    --rc-background--inverted: var(--vc-eggplant);
    --rc-onBackground--inverted: var(--vc-snow);
    
    --rc-navbar: var(--rc-background--inverted);
    --rc-onNavbar: var(--rc-onBackground--inverted);
    
    --rc-footer: var(--rc-background);
    --rc-onFooter: var(--rc-onBackground);
    
    --rc-pillBackground: var(--vc-rosewater);
    --rc-onPillBackground: var(--vc-eggplant);
    
    --rc-cardBackground: var(--vc-chrome);
    --rc-onCardBackground: var(--vc-raven);
    
    --rc-cardBackground--highlight: var(--vg-lovepotion);
    --rc-onCardBackground--highlight: var(--vc-snow);
    
    --rc-buttonBackground: var(--vg-lovepotion);
    --rc-onButtonBackground: var(--vc-snow);
    
    --rc-link: var(--vc-mika);
    
    
    /**	vs: value size (to use in other vairables) */
    --vs-electron: 1px;
    
    --vs-mouse: 1rem;
    --vs-rabbit: 1.2rem;
    --vs-cat: 1.4rem;
    --vs-fox: 1.6rem;
    --vs-dog: 1.8rem;
    --vs-wolf: 2rem;
    --vs-tiger: 3.6rem;
    --vs-horse: 5.2rem;
    --vs-hippo: 8rem;
    --vs-elephant: 8.2rem;
    --vs-trex: 14.6rem;
    
    /** rst: reference size text (use these in actual CSS) */
    --rst-title--main: var(--vs-elephant);
    --rst-title--section: var(--vs-horse);
    --rst-title--subsection: var(--vs-tiger);
    --rst-body: var(--vs-dog);
    
    --rst-pill: var(--vs-rabbit);
    --rst-button: var(--vs-fox);
    --rst-footer: var(--vs-fox);
    --rst-header: var(--vs-fox);
    
    /** rs: reference size */
    --rs-line: var(--vs-electron);
    
    --rs-gutter: var(--vs-wolf);
    --rs-gutter--large: calc(var(--rs-gutter) * 1.4);
    
    --rs-inline-layout: var(--vs-trex);
    
    --rs-stack-section: var(--vs-hippo);
    
    /** helper vars */
    --percent-10px: 62.5%;
  }
  html {
    font-family: "Circular", system-ui, sans-serif;
    
    background-color: var(--rc-background);
    color: var(--rc-onBackground);
    font-size: var(--percent-10px);
    font-weight: 350;
    letter-spacing: -0.005em;
  }

  body {
    font-size: 1.8rem;
    line-height: 1.4;
  }
</style>
