---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
<style is:global>
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Circular";
    src: url("/CircularXXWeb-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  :root {
    /** value design tokens (to use in other vairables) */
    /** vc: value color */
    --vc-snow: #ffffff;
    --vc-raven: #202126;
    --vc-eggplant: #1c0b5a;
    --vc-grape: #542eea;
    --vc-mika: #8c45f0;
    --vc-rosewater: #ede8fa;
    --vc-chrome: #e5e5e5;
    
    --vg-lovepotion: linear-gradient(90deg, var(--vc-grape), var(--vc-mika));
    --vg-lovepotion--repeating: linear-gradient(90deg, var(--vc-grape), var(--vc-mika), var(--vc-grape));
    
    /** reference tokens (use these in actual CSS) */
    /** rc: reference color */
    --rc-background: var(--vc-snow);
    --rc-onBackground: var(--vc-raven);
    
    --rc-background--inverted: var(--vc-eggplant);
    --rc-onBackground--inverted: var(--vc-snow);
    
    --rc-navbar: var(--rc-background--inverted);
    --rc-onNavbar: var(--rc-onBackground--inverted);
    
    --rc-footer: var(--rc-navbar);
    --rc-onFooter: var(--rc-onNavbar);
    
    --rc-pillBackground: var(--vc-rosewater);
    --rc-onPillBackground: var(--vc-eggplant);
    
    --rc-cardBackground: var(--vc-chrome);
    --rc-onCardBackground: var(--vc-raven);
    
    --rc-cardBackground--highlight: var(--vg-lovepotion);
    --rc-onCardBackground--highlight: var(--vc-snow);

    --rc-cardBackground--inverted: var(--vc-eggplant);
    --rc-onCardBackground--inverted: var(--vc-snow);
    
    --rc-buttonBackground: var(--vg-lovepotion--repeating);
    --rc-onButtonBackground: var(--vc-snow);
    
    --rc-link: var(--vc-mika);
    
    
    /**	vs: value size (to use in other vairables) */
    --vs-electron: 1px;
    
    --vs-mouse: 1rem;
    --vs-rabbit: 1.2rem;
    --vs-cat: 1.4rem;
    --vs-fox: 1.6rem;
    --vs-dog: 1.8rem;
    --vs-wolf: 2rem;
    --vs-tiger: 3.6rem;
    --vs-horse: 5.2rem;
    --vs-hippo: 8rem;
    --vs-elephant: 8.2rem;
    --vs-trex: 14.6rem;
    
    /** rst: reference size text (use these in actual CSS) */
    --rst-title--main: var(--vs-elephant);
    --rst-title--section: var(--vs-horse);
    --rst-title--subsection: var(--vs-tiger);
    --rst-body: var(--vs-dog);
    
    --rst-pill: var(--vs-rabbit);
    --rst-button: var(--vs-fox);
    --rst-footer: var(--vs-fox);
    --rst-header: var(--vs-fox);
    
    /** rs: reference size */
    --rs-line: var(--vs-electron);
    --rs-line--fat: calc(var(--rs-line) * 2);
    
    --rs-gutter: var(--vs-wolf);
    --rs-gutter--large: calc(var(--rs-gutter) * 1.4);
    
    --rs-inline-layout: var(--vs-trex);
    
    --rs-stack-section: var(--vs-hippo);

    --rs-border-radius: var(--vs-wolf);
    --rs-border-radius--small: var(--vs-fox);
    
    /** helper vars */
    --percent-10px: 62.5%;
    --design-max-width: 147rem;
  }

  html {
    font-family: "Circular", system-ui, sans-serif;
    
    background-color: var(--rc-background);
    color: var(--rc-onBackground);
    font-size: var(--percent-10px);
    font-weight: 350;
    letter-spacing: -0.005em;
    
  }

  body {
    font-size: var(--rst-body);
    line-height: 1.4;
    padding: var(--rs-gutter);
    margin: 0;
    scrollbar-gutter: stable;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .button {
    position: relative;
    display: block;
    background: var(--rc-buttonBackground);
    background-size: 200% 100%;
    color: var(--rc-onButtonBackground);
    border-radius: var(--rs-border-radius--small);
    font-size: var(--rst-button);
    box-shadow: inset 0 0 0 var(--rs-line--fat) rgba(255 255 255 / .5);
    padding: calc(var(--rs-gutter) * .75) calc(2 * var(--rs-gutter) + 4rem) calc(var(--rs-gutter) * .75) var(--rs-gutter);
    font-weight: 600;
    width: max-content;
    transition: box-shadow .3s ease;
  
  }

  .button::after {
    position: absolute;
    content: '';
    display: block;
    width: 4rem;
    height: 2rem;
    background: url('/ii-symbol.webp') no-repeat;
    background-size: contain;
    right: var(--rs-gutter);
    top: 50%;
    transform: translateY(-50%);
  }

  .button:hover {
    animation: gradient 1.5s ease-in;
    box-shadow: inset 0 0 0 calc(var(--rs-line--fat) * 2) rgba(255 255 255 / .2);
  }

  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .design-width {
    max-width: var(--design-max-width);
    margin: 0 auto;
  }

  .section-top {
    position: fixed;
    top: var(--rs-gutter);
    left: var(--rs-gutter);
    right: var(--rs-gutter);
    z-index: 1;
  }
  .header {
    background: var(--rc-navbar);
    color: var(--rc-onNavbar);

    border-radius: var(--rs-border-radius);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--rs-gutter) var(--rs-inline-layout);
  }

  .section {
    margin-top: var(--rs-stack-section);
  }

  .header__logos {
    display: flex;
    align-items: center;
  }
  .header__logo {
    width: 15.3rem;
  }

  .footer {
    background: var(--rc-footer);
    color: var(--rc-onFooter);

    border-top-left-radius: var(--rs-border-radius);
    border-top-right-radius: var(--rs-border-radius);
  }

  .pill {
    background: var(--rc-pillBackground);
    color: var(--rc-onPillBackground);
    border-radius: var(--rs-border-radius);
    padding: calc(var(--rs-gutter) * .5) var(--rs-gutter);
    margin-bottom: var(--rs-gutter);
    display: inline-block;
  }

  .card {
    background: var(--rc-cardBackground);
    color: var(--rc-onCardBackground);
    border-radius: var(--rs-border-radius);
    padding: var(--rs-gutter);
    margin-bottom: var(--rs-gutter);
    text-align: center;
  }

  .card--intro {
    background: var(--rc-cardBackground--inverted);
    color: var(--rc-onCardBackground--inverted);
    padding: calc(var(--rs-gutter) * 4) var(--rs-inline-layout) calc(var(--rs-gutter) * 2);
    margin-bottom: var(--rs-gutter);
    text-align: left;
  }

  .innovation-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,calc(50% - var(--rs-gutter)));
    gap: var(--rs-gutter);
  }
</style>
