---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Circular";
		src: url("/CircularXXWeb-Regular.woff2") format("woff2");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Circular";
		src: url("/CircularXXWeb-Medium.woff2") format("woff2");
		font-style: normal;
		font-weight: 500;
		font-display: swap;
	}

	@font-face {
		font-family: "Circular";
		src: url("/CircularXXWeb-Bold.woff2") format("woff2");
		font-style: normal;
		font-weight: 600;
		font-display: swap;
	}
	:root {
		/** value design tokens (to use in other vairables) */
		/** vc: value color */
		--vc-snow: #ffffff;
		--vc-raven: #202126;
		--vc-eggplant: #1c0b5a;
		--vc-grape: #542eea;
		--vc-mika: #863af1;
		--vc-rosewater: #ede8fa;
		--vc-chrome: #e5e5e5;

		--vg-lovepotion: linear-gradient(90deg, var(--vc-grape), var(--vc-mika));
		--vg-lovepotion--repeating: linear-gradient(90deg, var(--vc-grape), var(--vc-mika), var(--vc-grape));

		/**	vs: value size */

		/** reference tokens (use these in actual CSS) */
		/** rc: reference color */
		--rc-background: var(--vc-snow);
		--rc-onBackground: var(--vc-raven);

		--rc-background--inverted: var(--vc-eggplant);
		--rc-onBackground--inverted: var(--vc-snow);

		--rc-navbar: var(--rc-background--inverted);
		--rc-onNavbar: var(--rc-onBackground--inverted);

		--rc-footer: var(--rc-background);
		--rc-onFooter: var(--rc-onBackground);

		--rc-pillBackground: var(--vc-rosewater);
		--rc-onPillBackground: var(--vc-eggplant);

		--rc-cardBackground: var(--vc-chrome);
		--rc-onCardBackground: var(--vc-raven);

		--rc-cardBackground--highlight: var(--vg-lovepotion);
		--rc-onCardBackground--highlight: var(--vc-snow);

		--rc-buttonBackground: var(--vg-lovepotion);
		--rc-onButtonBackground: var(--vc-snow);

		--rc-link: var(--vc-mika);
	}
	html {
  	font-family: "Circular", system-ui, sans-serif;
 
		background-color: var(--rc-background);
		color: var(--rc-onBackground);
	}

</style>
