---
// TODO: REMOVE?
import Layout from "../layouts/Layout.astro";
import content from "../contents/index.json";

interface Props {
  extendsLayout?: boolean;
}

const { extendsLayout = true } = Astro.props;
const Wrapper = extendsLayout ? Layout : Fragment;
---

<Wrapper title={content.meta.title}>
  <main class="design-width design-width--tight">
    <img class="logo" src="/iivc-logo.webp" alt="Internet Identity Verifiable Credentials" />
    <h1>{content.connectionTitle}</h1>
    <p>{content.connectionLead}</p>
    <button class="button" data-register>{content.connectionButton}</button>
  </main>
</Wrapper>
